* {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

@mixin font {
    font-family: Arial, "Lucida Grande", "Microsoft Yahei", "Hiragino Sans GB", "Hiragino Sans GB W3", SimSun, "PingFang SC", STHeiti;
}


/*====头部导航start====*/

.nav {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    width: 1000px;
    height: 70px;
    line-height: 70px;
    .nav-left {
        display: flex;
        .logon {
            margin-top: 20px;
            margin-right: 24px;
            width: 136px;
            height: 39px;
            background: url(../images/header-sprites13.png)0 0;
        }
        >li:nth-of-type(1) {
            padding: 0;
        }
        >li {
            padding: 0px 14px;
            &:hover {
                color: #ff9d00;
                border-bottom: 2px solid #ff9d00;
                > a {
                    color: #ff9d00;
                }
            }
            >a {
                color: #333;
                font-size: 16px;
                @include font;
            }
        }
        .shop {
            position: relative;
            &:hover {
                border-bottom: 0;
                border-top: 2px solid #ff9d00;
                border-left: 1px solid #ddd;
                border-right: 1px solid #ddd;
                .shop-list {
                    display: block;
                }
            }
            .shop-list {
                position: absolute;
                top: 68px;
                left: 0;
                display: none;
                padding: 0;
                background: #eee;
                li {
                    padding: 0px 10px 0px;
                    width: 124px;
                    height: 40px;
                    line-height: 40px;
                    &:hover {
                        border-bottom: 0;
                        background: #ddd;
                        a {
                            color: #444;
                        }
                    }
                    a {
                        font-size: 14px;
                        color: #333;
                        @include font;
                        .hot {
                            color: red;
                            font-size: 30px;
                        }
                        .new {
                            color: skyblue;
                            font-size: 35px;
                        }
                    }
                }
            }
        }
        .shequ {
            position: relative;
            @include font;
            &:hover {
                border-bottom: 0;
                border-left: 1px solid #ddd;
                border-right: 1px solid #ddd;
                border-top: 2px solid #ff9d00;
                >.shequ-list {
                    display: block;
                }
            }
            >.shequ-list {
                position: absolute;
                top: 68px;
                left: 0;
                display: none;
                width: 300px;
                height: 300px;
                background-color: #eee;
                >.list-left {
                    float: left;
                    >li {
                        margin-left: 15px;
                        height: 75px;
                        >.hot {
                            color: red;
                            font-size: 30px;
                        }
                        >.new {
                            color: skyblue;
                            font-size: 30px;
                        }
                        >a {
                            font-size: 16px;
                            color: #444;
                            &:hover {
                                color: #ff9d00;
                            }
                        }
                    }
                }
                >.list-right {
                    float: right;
                    margin-top: 20px;
                    margin-right: 50px;
                    >li {
                        height: 32px;
                        line-height: 32px;
                        font-size: 14px;
                        >a {
                            color: #444;
                        }
                        &:hover {
                            a {
                                color: #ff9d00;
                            }
                        }
                    }
                }
            }
        }
    }
    .nav-right {
        display: flex;
        li:nth-of-type(5) {
            padding: 0;
            a {
                padding-left: 10px;
                border-left: 1px solid #c9c9c9;
            }
        }
        li {
            padding: 0px 10px;
            .line:hover {
                text-decoration: underline;
            }
            a {
                color: #ff9d00;
                font-size: 14px;
                @include font;
            }
            .iconfont {
                font-size: 25px;
                &:hover {
                    color: #fff;
                    background-color: #ff9d00;
                    border-radius: 50%;
                }
            }
        }
    }
}


/*====头部导航end====*/


/*=====轮播图start=====*/

.ppt {
    position: relative;
    width: 100%;
    height: 576px;
    border: 1px solid red;
    /*=====ppt主图部分start====*/
    .ppt-main {
        li:nth-of-type(1) {
            display: block;
        }
        li {
            position: relative;
            display: none;
            .from {
                position: absolute;
                left: 31%;
                bottom: 24px;
                display: inline-block;
                color: #fff;
                font-size: 14px;
                @include font;
                >a {
                    color: #ff9d00;
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
            /*======PPT文字部分start====*/
            .date {
                position: absolute;
                top: 30px;
                left: 360px;
                color: #fff;
                @include font;
                text-shadow: 0 1px 3px rgba(0, 0, 0, .9);
                >p {
                    font-size: 24px;
                    >span {
                        font-size: 38px;
                    }
                }
                >h3 {
                    font-weight: normal;
                    font-size: 26px;
                }
            }
        }
        /*======PPT文字部分end====*/
    }
    /*=======ppt主图部分end=====*/
    /*=======ppt侧边缩略图部分start======*/
    .pptsider-bar {
        position: absolute;
        top: 60px;
        left: 91%;
        .more {
            margin-top: 15px;
            width: 110px;
            height: 35px;
            background-image: url(../images/index-sprites9.png);
            background-position: -60px -50px!important;
        }
    }
    /*=======ppt侧边缩略图部分edn=======*/
    /*======ppt中间搜索框部分start=====*/
    .search-group {
        position: absolute;
        top: 424px;
        left: 31%;
        padding: 15px;
        width: 601px;
        height: 80px;
        border-radius: 4px;
        background-color: rgba(0, 0, 0, .6);
        .search-top {
            display: flex;
            margin-bottom: 10px;
            li {
                margin-right: 30px;
                overflow: hidden;
                float: left;
                a {
                    position: relative;
                    padding-left: 25px;
                    color: #fff;
                    font-size: 14px;
                    @include font;
                    i {
                        position: absolute;
                        top: 0;
                        left: 0;
                        margin-right: 5px;
                        display: inline-block;
                        width: 17px;
                        height: 17px;
                        border-radius: 50%;
                        background: red;
                        background-image: url(../images/header-sprites13.png);
                        background-position: -60px -109px;
                    }
                }
            }
        }
        .search {
            display: flex;
            justify-content: space-between;
            width: 604px;
            height: 48px;
            input {
                padding: 0px 20px;
                width: 506px;
                height: 48px;
                border-radius: 4px;
                border: 0;
                color: #666;
                font-size: 16px;
                @include font;
            }
            .search-button {
                width: 48px;
                height: 48px;
                line-height: 48px;
                border-radius: 5px;
                background-color: #ff9d00;
                &:hover {
                    background-color: #ff8a00;
                }
                >i {
                    margin-top: 12px;
                    margin-left: 12px;
                    display: inline-block;
                    overflow: hidden;
                    width: 24px;
                    height: 24px;
                    background-image: url(../images/header-sprites13.png);
                    background-position: 0 -110px;
                }
            }
        }
    }
    /*======ppt中间搜索框部分end=====*/
}


/*=====轮播图end======*/


/*======section开始=======*/

.section {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    width: 1000px;
    height: 1400px;
    background-color: pink;
    .section-left {
        width: 260px;
        height: 800px;
        background-color: yellow;
        /*=====广告位start=====*/
        .section-ad {
            margin-top: 20px;
        }
        /*=====广告位end=====*/
        .section-head {
            margin: 25px 0px 15px 0px;
            display: flex;
            justify-content: space-between;
            width: 100%;
            height: 35px;
            line-height: 35px;
            font-size: 0;
            >h2 {
                font-size: 18px;
                font-weight: normal;
                @include font;
                >a {
                    color: #333;
                }
            }
            >span {
                @include font;
                font-size: 12px;
                >a {
                    color: #999;
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
        .section-ppt {
            position: relative;
            overflow: hidden;
            width: 100%;
            height: 240px;
            background: #fff;
            .small-ppt {
                font-size: 0;
                position: absolute;
                top: 0;
                left: 0;
                width: 1300px;
                >li {
                    float: left;
                    width: 260px;
                    height: 240px;
                    >h3 {
                        margin-top: 10px;
                        height: 26px;
                        font-size: 16px;
                        font-weight: normal;
                        color: #333;
                        @include font;
                    }
                    >p {
                        height: 60px;
                        line-height: 20px;
                        font-size: 14px;
                        color: #333;
                        @include font;
                    }
                }
            }
            .section-btn {
                position: absolute;
                top: 125px;
                right: 7px;
                li {
                    float: left;
                    margin-right: 3px;
                    width: 15px;
                    height: 8px;
                    border-radius: 4px;
                    background-color: #fff;
                    &:hover {
                        background-color: #ff9d00;
                    }
                }
            }
        }
        .city {
            .qingdao {
                display: flex;
                justify-content: space-between;
                >dl {
                    padding-top: 12px;
                    width: 130px;
                    height: 75px;
                    >dt {
                        a {
                            h3 {
                                margin-bottom: 15px;
                                color: #333;
                                font-weight: normal;
                                font-size: 22px;
                                @include font;
                                &:hover {
                                    text-decoration: underline;
                                }
                            }
                        }
                    }
                    dd {
                        color: #666;
                        font-size: 12px;
                    }
                }
            }
            .comment {
                margin-top: 10px;
                li {
                    overflow: hidden;
                    width: 260px;
                    height: 28px;
                    line-height: 28px;
                    font-size: 14px;
                    color: #333;
                    text-overflow: ellipsis;
                    white-space: nowarp;
                    @include font;
                    a {
                        color: #ff8a00;
                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
        .section-head {
            span {
                a {
                    color: #ff8a00;
                }
            }
        }
        .activity {
            overflow: scroll;
            overflow-x: hidden;
            scrollbar-width: 10px;
            scrollbar-3d-light-color: #fff;
            width: 260px;
            height: 390px;
            img {
                margin-right: 8px;
            }
            ul li {
                padding: 5px;
                width: 250px;
                height: 40px;
                >a {
                    display: flex;
                    font-size: 0;
                    line-height: 20px;
                    dl dt {
                        font-size: 14px;
                        color: #ff9d00;
                        @include font;
                    }
                    dl dd {
                        font-size: 12px;
                        color: #666;
                        @include font;
                    }
                }
            }
        }
        .section-head {
            span {
                a {
                    color: #666;
                }
            }
        }
        .join-us {
            ul {
                width: 260px;
                height: 90px;
                li {
                    width: 260px;
                    height: 30px;
                    line-height: 30px;
                    &:hover {
                        a {
                            color: #ff9d00;
                        }
                    }
                    a {
                        display: flex;
                        justify-content: space-between;
                        color: #666;
                        p {
                            font-size: 14px;
                            @include font;
                        }
                        span {
                            font-size: 12px;
                            @include font;
                        }
                    }
                }
            }
        }
        .process {
            ul {
                width: 260px;
                height: 180px;
                li {
                    width: 260px;
                    height: 30px;
                    line-height: 30px;
                    font-size: 12px;
                    color: #666;
                    @include font;
                    a {
                        color: #666;
                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
    }
    .section-right {
        width: 700px;
        height: 800px;
        background-color: blue;
    }
}


/*======section结束=======*/
