* {
    margin: 0;
    padding: 0;
    list-style: none;
}

@mixin font {
    font-family: Arial, "Lucida Grande", "Microsoft Yahei", "Hiragino Sans GB", "Hiragino Sans GB W3", SimSun, "PingFang SC", STHeiti;
}

a {
    text-decoration: none;
}

.container {
    margin: 0 auto;
    width: 100%;
    .header {
        /*=========头部导航start=======*/
        .outer {
            width: 100%;
            height: 70px;
            background-color: #fff;
            .nav {
                margin: 0 auto;
                display: flex;
                justify-content: space-around;
                width: 1010px;
                height: 70px;
                line-height: 70px;
                .nav-left {
                    display: flex;
                    .logon {
                        margin-top: 20px;
                        margin-right: 24px;
                        width: 136px;
                        height: 39px;
                        background: url(../images/header-sprites13.png) no-repeat 0 0;
                    }
                    >li:nth-of-type(1) {
                        padding: 0;
                    }
                    >li {
                        padding: 0px 14px;
                        &:hover {
                            color: #ff9d00;
                            border-bottom: 2px solid #ff9d00;
                            > a {
                                color: #ff9d00;
                            }
                        }
                        >a {
                            color: #333;
                            font-size: 16px;
                            @include font;
                        }
                    }
                    .shop {
                        position: relative;
                        &:hover {
                            border-bottom: 0;
                            border-top: 2px solid #ff9d00;
                            border-left: 1px solid #ddd;
                            border-right: 1px solid #ddd;
                            .shop-list {
                                display: block;
                            }
                        }
                        .shop-list {
                            position: absolute;
                            top: 68px;
                            left: 0;
                            display: none;
                            z-index: 999;
                            padding: 0;
                            background: #eee;
                            li {
                                padding: 0px 10px 0px;
                                width: 124px;
                                height: 40px;
                                line-height: 40px;
                                &:hover {
                                    border-bottom: 0;
                                    background: #ddd;
                                    a {
                                        color: #444;
                                    }
                                }
                                a {
                                    font-size: 14px;
                                    color: #333;
                                    @include font;
                                    .hot {
                                        color: red;
                                        font-size: 30px;
                                    }
                                    .new {
                                        color: skyblue;
                                        font-size: 35px;
                                    }
                                }
                            }
                        }
                    }
                    .shequ {
                        position: relative;
                        @include font;
                        &:hover {
                            border-bottom: 0;
                            border-left: 1px solid #ddd;
                            border-right: 1px solid #ddd;
                            border-top: 2px solid #ff9d00;
                            >.shequ-list {
                                display: block;
                            }
                        }
                        >.shequ-list {
                            position: absolute;
                            top: 68px;
                            left: 0;
                            display: none;
                            z-index: 999;
                            width: 300px;
                            height: 300px;
                            background-color: #eee;
                            >.list-left {
                                float: left;
                                >li {
                                    margin-left: 15px;
                                    height: 75px;
                                    >.hot {
                                        color: red;
                                        font-size: 30px;
                                    }
                                    >.new {
                                        color: skyblue;
                                        font-size: 30px;
                                    }
                                    >a {
                                        font-size: 16px;
                                        color: #444;
                                        &:hover {
                                            color: #ff9d00;
                                        }
                                    }
                                }
                            }
                            >.list-right {
                                float: right;
                                margin-top: 20px;
                                margin-right: 50px;
                                >li {
                                    height: 32px;
                                    line-height: 32px;
                                    font-size: 14px;
                                    >a {
                                        color: #444;
                                    }
                                    &:hover {
                                        a {
                                            color: #ff9d00;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                /*========搜索框start======*/
                .inpt {
                    position: relative;
                    margin-left: 10px;
                    margin-top: 18.5px;
                    width: 127px;
                    height: 34px;
                    line-height: 70px;
                    border-radius: 4px;
                    input {
                        float: left;
                        margin-right: 10px;
                        padding: 0 10px;
                        width: 107px;
                        height: 32px;
                        border-radius: 4px;
                        border: 1px solid #efefef;
                        background-color: #efefef;
                    }
                    span {
                        position: absolute;
                        top: 8px;
                        right: 8px;
                        display: inline-block;
                        width: 20px;
                        height: 20px;
                        background: url(../images/header-sprites13.png) -30px -110px;
                    }
                }
                /*========搜索框end======*/
                .nav-right {
                    display: flex;
                    li:nth-of-type(5) {
                        padding: 0;
                        a {
                            padding-left: 10px;
                            border-left: 1px solid #c9c9c9;
                        }
                    }
                    li {
                        padding: 0px 10px;
                        .line:hover {
                            text-decoration: underline;
                        }
                        a {
                            color: #ff9d00;
                            font-size: 14px;
                            @include font;
                        }
                        .iconfont {
                            font-size: 25px;
                            &:hover {
                                color: #fff;
                                background-color: #ff9d00;
                                border-radius: 50%;
                            }
                        }
                    }
                }
            }
        }
        /*=========头部导航end=========*/
        .head {
            position: relative;
            width: 100%;
            height: 577px;
            background-image: url(../images/wKgBZ1l5oNCAYFzmABjvJiS0HQs59.jpeg);
            background-size: cover;
            h1 {
                position: absolute;
                left: 30%;
                bottom: 10px;
                width: 710px;
                height: 80px;
                line-height: 80px;
                color: #fff;
                font-size: 26px;
                @include font;
            }
            .ding {
                position: absolute;
                left: 75%;
                bottom: 10px;
                width: 37px;
                height: 80px;
                @include font;
                a {
                    display: inline-block;
                    width: 37px;
                    height: 33px;
                    margin-top: 10px;
                    margin-bottom: 10px;
                    line-height: 33px;
                    text-align: center;
                    font-size: 18px;
                    color: #fff;
                    background: url(../images/sprite_v33.png) -293px -236px no-repeat;
                }
                span {
                    color: #fff;
                }
            }
        }
        .view-title {
            width: 100%;
            height: 80px;
            background-color: #fff;
            border-bottom: 1px solid #d7d7d7;
            box-shadow: 0 2px 0 rgba(0, 0, 0, .05);
            position: relative;
            z-index: 16;
            .middle {
                margin: 0 auto;
                width: 1000px;
                height: 80px;
                .person {
                    float: left;
                    position: relative;
                    padding: 20px 0 0 150px;
                    width: 480px;
                    height: 18px;
                    >img {
                        position: absolute;
                        left: 0;
                        bottom: 0;
                        border-radius: 50%;
                    }
                    a {
                        margin-right: 5px;
                        font-size: 14px;
                        font-weight: normal;
                        @include font;
                    }
                    .p-name {
                        color: #ff7200;
                    }
                    .p-dengji {
                        color: #ea3c1a;
                        font-family: Verdana, Arial, Helvetica, STHeiti;
                        font-weight: bold;
                    }
                    span {
                        color: #acacac;
                        font-size: 12px;
                        font-weight: normal;
                        font-family: Verdana, Arial, Helvetica, STHeiti;
                        i {
                            margin-right: 4px;
                            display: inline-block;
                            vertical-align: middle;
                            width: 18px;
                            height: 14px;
                            background: url(../images/sprite_v33.png) -51px -327px no-repeat;
                        }
                    }
                }
                .controls {
                    float: right;
                    li {
                        float: left;
                        padding-top: 15px;
                        width: 120px;
                        height: 65px;
                        border-right: 1px solid #e8e8e6;
                        a {
                            display: inline-block;
                            width: 120px;
                            height: 55px;
                            text-align: center;
                            line-height: 24px;
                            font-size: 14px;
                            font-weight: normal;
                            @include font;
                            color: #666;
                        }
                        .control {
                            margin: 0 37px;
                            width: 46px;
                            height: 46px;
                            background: url(../images/nn_sprite_v25.png) -127px -156px no-repeat;
                        }
                        .collect {
                            margin: 0 47px;
                            display: inline-block;
                            width: 25px;
                            height: 24px;
                            background: url(../images/sprite_v33.png) -240px -576px no-repeat;
                        }
                        .share {
                            margin: 0 47px;
                            display: inline-block;
                            width: 25px;
                            height: 24px;
                            background: url(../images/sprite_v33.png) -269px -576px no-repeat;
                        }
                    }
                    .c-share {
                        position: relative;
                        &:hover {
                            .c-share-list {
                                display: block;
                            }
                        }
                        .c-share-list {
                            display: none;
                            position: absolute;
                            z-index: 999;
                            top: 80px;
                            right: 0;
                            padding: 8px 10px;
                            width: 132px;
                            height: 36px;
                            background-color: #fff;
                            border-radius: 5px;
                            vertical-align: middle;
                            border: 1px solid #e8e8e6;
                            box-shadow: 0 1px 4px rgba(0, 0, 0, .3);
                            a {
                                display: inline-block;
                                width: 36px;
                                height: 36px;
                            }
                            .xinlang {
                                background: #d84c4c url(../images/sprite_v33.png) -295px -569px no-repeat;
                            }
                            .kongjian {
                                background: #3f8bc0 url(../images/sprite_v33.png) -331px -569px no-repeat;
                            }
                            .weixin {
                                background: #73a64f url(../images/sprite_v33.png) -367px -569px no-repeat;
                            }
                        }
                    }
                }
            }
        }
        // &&&&&&&&&&&&&&&&&&&&&&&&fixed 固定定位%%%%%%%%%%%%%%%%%
        .none {
            display: none;
            width: 100%;
            height: 80px;
            background-color: #fff;
            border-bottom: 1px solid #d7d7d7;
            box-shadow: 0 2px 0 rgba(0, 0, 0, .05);
            position: relative;
            z-index: 16;
            .middle {
                margin: 0 auto;
                width: 1000px;
                height: 80px;
                line-height: 80px;
                font-size: 14px;
                font-weight: normal;
                @include font;
                clear: both;
                .m-left {
                    float: left;
                    height: 80px;
                    >a {
                        float: left;
                        margin: 21px 10px 0 0;
                        display: inline-block;
                        width: 37px;
                        height: 37px;
                        background: url(../images/nn_sprite_v25.png) -264px -265px;
                    }
                    span {
                        color: #666;
                        a {
                            color: #ff9d00;
                            &:hover {
                                text-decoration: underline;
                            }
                        }
                    }
                }
                .m-right {
                    float: right;
                    li {
                        float: left;
                        // ========
                        margin-right: 5px;
                        font-size: 12px;
                        font-weight: normal;
                        @include font;
                        color: #999;
                        a {
                            display: inline-block;
                            vertical-align: middle;
                            width: 26px;
                            height: 26px;
                        }
                        .m-qq {
                            background: url(../images/sprite_v33.png) 0 -607px no-repeat;
                            &:hover {
                                background: url(../images/sprite_v33.png) 0 -634px no-repeat;
                            }
                        }
                        .m-xinl {
                            background: url(../images/sprite_v33.png) -27px -607px no-repeat;
                            &:hover {
                                background: url(../images/sprite_v33.png) -27px -634px no-repeat;
                            }
                        }
                        .m-wein {
                            background: url(../images/header-sprites7.png) 0 -165px no-repeat;
                            &:hover {
                                background: url(../images/header-sprites7.png) -30px -165px no-repeat;
                            }
                        }
                        .m-login {
                            margin: 0 4px;
                            padding: 0 14px;
                            width: 84px;
                            height: 24px;
                            line-height: 24px;
                            text-align: center;
                            border-radius: 4px;
                            border: 1px solid #ffc65a;
                            color: #ff9d00;
                            &:hover {
                                color: #fff;
                                background-color: #ffc65a;
                            }
                        }
                        .m-reg {
                            margin-left: 4px;
                            padding: 0 14px;
                            width: 48px;
                            height: 24px;
                            line-height: 24px;
                            text-align: center;
                            border-radius: 4px;
                            border: 1px solid #ffc65a;
                            color: #ff9d00;
                            &:hover {
                                color: #fff;
                                background-color: #ffc65a;
                            }
                        }
                    }
                }
            }
        }
    }
    .section {
        width: 100%;
        height: 100%;
        margin: 0 auto;
        .middle {
            width: 1000px;
            margin: 0 auto;
            margin-top: 45px;
            height: 3400px;
            clear: both;
            .lf-bar {
                float: left;
                width: 680px;
                height: 100%;
                .travel-dir {
                    margin-bottom: 60px;
                    width: 680px;
                    height: 58px;
                    border-radius: 5px;
                    border: 1px dashed #d7d7d7;
                    background-color: #fff;
                    a {
                        line-height: 58px;
                        font-size: 14px;
                        @include font;
                        color: #666;
                        span {
                            margin: 0 10px;
                            color: #ff9d00;
                        }
                        i {
                            margin-right: 15px;
                            display: inline-block;
                            vertical-align: middle;
                            width: 22px;
                            height: 22px;
                        }
                        .t-time {
                            background: url(../images/151204sprite1.png) -22px 0px no-repeat;
                        }
                        .t-num {
                            background: url(../images/151204sprite1.png) -22px -22px no-repeat;
                        }
                        .t-per {
                            background: url(../images/151204sprite1.png) -22px -43px no-repeat;
                        }
                    }
                }
                >p {
                    margin-bottom: 20px;
                    text-indent: 2em;
                    line-height: 28px;
                    font-size: 15px;
                    font-weight: normal;
                    @include font;
                    color: #444;
                    a {
                        color: #444;
                        border-bottom: 1px solid #444;
                    }
                    .p-link {
                        color: #ffa800;
                        border-bottom: 0;
                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
                .img-title {
                    margin-top: 20px;
                    text-indent: 0em;
                }
                .total {
                    overflow: hidden;
                    margin: 40px 0 50px 0;
                    padding-top: 15px;
                    width: 680px;
                    height: 16px;
                    border-top: 1px solid #e2e2e2;
                    color: #333;
                    font-size: 12px;
                    @include font;
                    a {
                        float: right;
                        color: #333;
                    }
                }
                /*=======评论区start======*/
                .f-comment {
                    .com-info {
                        width: 680px;
                        height: 48px;
                        background-color: #f6f6f6;
                        border-top-left-radius: 24px;
                        border-bottom-left-radius: 24px;
                        font-size: 12px;
                        @include font;
                        color: #666;
                        >img {
                            margin-right: 20px;
                            border-radius: 50%;
                            display: inline-block;
                            vertical-align: middle;
                        }
                        >a {
                            line-height: 48px;
                            display: inline-block;
                            margin-right: 6px;
                            vertical-align: middle;
                            &:hover {
                                text-decoration: underline;
                            }
                        }
                        .info-name {
                            color: #ff9d00;
                        }
                        .info-dengji {
                            color: #ef523d;
                        }
                        >span {
                            float: right;
                            margin-right: 12px;
                            line-height: 48px;
                        }
                    }
                    .com-content {
                        margin: 12px 0 0 0;
                        padding-left: 68px;
                        width: 612px;
                        // ==========
                        height: 100%;
                        >p {
                            margin: 5px 0;
                            color: #999;
                            font-size: 12px;
                            @include font;
                        }
                        .com-des {
                            font-size: 14px;
                        }
                        .com-time {
                            margin: 20px 0 30px 0;
                        }
                    }
                }
                /*=======评论区end========*/
            }
            .rg-bar {
                float: right;
                width: 240px;
                height: 100%;
                .relation {
                    margin-bottom: 12px;
                    width: 240px;
                    height: 18px;
                    span {
                        font-size: 14px;
                        font-weight: normal;
                        @include font;
                        color: #666;
                        a {
                            margin-left: 10px;
                            color: #ff8a00;
                            &:hover {
                                text-decoration: underline;
                            }
                        }
                    }
                }
                .re-img {
                    position: relative;
                    h3 {
                        position: absolute;
                        left: 10px;
                        bottom: 10px;
                        font-size: 36px;
                        font-weight: normal;
                        color: #fff;
                        @include font;
                    }
                }
                .re-num {
                    margin: 20px 0;
                    width: 240px;
                    height: 28px;
                    line-height: 26px;
                    font-size: 14px;
                    @include font;
                    color: #666;
                    strong {
                        font-size: 22px;
                        font-weight: bold;
                        font-family: Arial;
                    }
                    i {
                        float: right;
                        display: inline-block;
                        margin-top: 5px;
                        width: 20px;
                        height: 20px;
                        background: url(../images/nn_sprite_v22.png) -413px -257px no-repeat;
                    }
                }
                // &&&&&&&&&&&&&&&fixed 固定定位%%%%%%%%%%%
                .fix {
                    .re-add {
                        margin-bottom: 20px;
                        padding: 0 18px;
                        width: 204px;
                        height: 40px;
                        line-height: 40px;
                        background-color: #f6f6f6;
                        border-radius: 5px;
                        font-size: 16px;
                        @include font;
                        a {
                            color: #ff8a00;
                            &:hover {
                                text-decoration: underline;
                            }
                        }
                        i {
                            display: inline-block;
                            vertical-align: middle;
                            width: 20px;
                            height: 20px;
                            background: url(../images/nn_sprite_v22.png) -413px -257px no-repeat;
                        }
                    }
                    .side-title {
                        margin-bottom: 15px;
                        width: 240px;
                        height: 15px;
                        font-size: 16px;
                        line-height: 15px;
                        @include font;
                        color: #666;
                    }
                    .tl-content {
                        li {
                            position: relative;
                            margin-bottom: 14px;
                            padding-left: 30px;
                            width: 210px;
                            height: 40px;
                            i {
                                position: absolute;
                                left: 0;
                                top: 3px;
                                display: inline-block;
                                width: 26px;
                                height: 30px;
                                background: url(../images/notes-medal2.png) no-repeat -269px 0;
                            }
                            a {
                                display: inline-block;
                                margin-bottom: 3px;
                                width: 210px;
                                height: 16px;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                white-space: nowarp;
                                font-size: 14px;
                                color: #ff9d00;
                                @include font;
                            }
                            span {
                                color: #999;
                                line-height: 17px;
                                font-size: 14px;
                                @include font;
                            }
                        }
                    }
                    .list {
                        margin-top: 35px;
                    }
                    .side-list {
                        li {
                            margin-bottom: 10px;
                            width: 240px;
                            height: 26px;
                            color: #ccc;
                            font-size: 14px;
                            @include font;
                            line-height: 26px;
                            a {
                                margin-left: 10px;
                                color: #999;
                                &:hover {
                                    text-decoration: underline;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    /*===========页面底部start======*/
    .footer {
        padding-bottom: 20px;
        width: 100%;
        height: 500px;
        background-color: #3c3c3c;
        .middle {
            margin: 0 auto;
            width: 1000px;
            height: 500px;
            .ft-info {
                display: flex;
                justify-content: space-between;
                padding: 30px 8px 0px;
                width: 984px;
                height: 180px;
                line-height: 22px;
                font-size: 12px;
                color: #c2c2c2;
                @include font;
                dt {
                    margin-bottom: 5px;
                    font-size: 14px;
                }
                .plate {
                    dd {
                        span,
                        a {
                            color: #ff9d00;
                        }
                    }
                }
                .about-us {
                    a {
                        color: #c2c2c2;
                        &:hover {
                            color: #fff;
                        }
                    }
                }
                dd:nth-of-type(7) {
                    a {
                        color: #ff9d00;
                        &:hover {
                            color: #ff9d00;
                        }
                    }
                }
                .servce {
                    dt {
                        text-align: center;
                    }
                    dd {
                        display: flex;
                        a {
                            color: #c2c2c2;
                        }
                        .ser-left {
                            li:nth-of-type(6) {
                                a {
                                    color: #ff9d00;
                                }
                            }
                        }
                    }
                }
                .twohouse {
                    display: flex;
                    dt {
                        margin-right: 40px;
                        p {
                            text-align: center;
                        }
                    }
                    dd {
                        p {
                            text-align: center;
                        }
                    }
                }
            }
            .ft-us {
                margin-top: 22px;
                padding: 0px 8px 18px;
                width: 984px;
                height: 58px;
                dt {
                    height: 30px;
                    text-align: center;
                    font-size: 16px;
                    color: #c2c2c2;
                    @include font;
                }
                dd {
                    height: 28px;
                    text-align: center;
                    i {
                        display: inline-block;
                        width: 28px;
                        height: 28px;
                    }
                    .xinlang {
                        background: url(../images/mfw-footer-sprite5.png) 0 0;
                    }
                    .weibo {
                        background: url(../images/mfw-footer-sprite5.png) -30px 0;
                    }
                    .kongjian {
                        background: url(../images/mfw-footer-sprite5.png) -60px 0;
                    }
                }
            }
            .link {
                padding: 17px 8px;
                width: 984px;
                height: 65px;
                border-top: 1px solid #575a5b;
                border-bottom: 1px solid #575a5b;
                a {
                    display: inline-block;
                    line-height: 16px;
                    font-size: 12px;
                    color: #c2c2c2;
                    &:hover {
                        color: #fff;
                    }
                }
            }
            .ft-ft {
                display: flex;
                justify-content: space-between;
                padding: 12px 0;
                width: 1000px;
                height: 43px;
                dl {
                    display: flex;
                    dt {
                        margin-right: 20px;
                        display: inline-block;
                        width: 136px;
                        height: 39px;
                        background: url(../images/mfw-footer-sprite5.png) 0 -30px;
                    }
                    dd {
                        font-size: 12px;
                        color: #c2c2c2;
                        line-height: 22px;
                        p {
                            a {
                                color: #c2c2c2;
                                &:hover {
                                    color: #fff;
                                }
                            }
                            .map {
                                color: #ff9d00;
                                &:hover {
                                    color: #ff9d00;
                                }
                            }
                        }
                    }
                }
                ul {
                    display: flex;
                    li {
                        margin-left: 10px;
                        width: 90px;
                        height: 30px;
                    }
                    li:nth-of-type(3) {
                        margin-right: 10px;
                    }
                    .chengx {
                        background: url(../images/mfw-footer-sprite5.png) 0 -70px;
                    }
                    .kex {
                        background: url(../images/mfw-footer-sprite5.png) 0 -110px;
                    }
                    .wangx {
                        background: url(../images/mfw-footer-sprite5.png) 0 -150px;
                    }
                }
            }
        }
    }
    /*===========页面底部end========*/
}
