@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

/*====头部导航start====*/
.nav {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  width: 1000px;
  height: 70px;
  line-height: 70px;
  background-color: pink;
}

.nav .nav-left {
  display: flex;
}

.nav .nav-left .logon {
  margin-top: 20px;
  width: 136px;
  height: 33px;
  background: url(../images/header-small-sprites.png);
}

.nav .nav-left li:nth-of-type(1) {
  padding: 0;
}

.nav .nav-left li {
  padding: 0px 14px;
}

.nav .nav-left li:hover {
  color: #ff9d00;
  border-bottom: 2px solid #ff9d00;
}

.nav .nav-left li:hover a {
  color: #ff9d00;
}

.nav .nav-left li a {
  color: #333;
  font-size: 16px;
  font-family: Arial,"Lucida Grande","Microsoft Yahei","Hiragino Sans GB","Hiragino Sans GB W3",SimSun,"PingFang SC",STHeiti;
}

.nav .nav-left .shop {
  position: relative;
}

.nav .nav-left .shop:hover {
  border-bottom: 0;
  border-top: 2px solid #ff9d00;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
}

.nav .nav-left .shop:hover .shop-list {
  display: block;
}

.nav .nav-left .shop .shop-list {
  position: absolute;
  top: 68px;
  left: 0;
  display: none;
  padding: 0;
  background: #eee;
}

.nav .nav-left .shop .shop-list li {
  padding: 0px 10px 0px;
  width: 124px;
  height: 40px;
  line-height: 40px;
}

.nav .nav-left .shop .shop-list li:hover {
  border-bottom: 0;
  background: #ddd;
}

.nav .nav-left .shop .shop-list li:hover a {
  color: #333;
}

.nav .nav-left .shop .shop-list li a {
  font-size: 14px;
  color: #333;
}

.nav .nav-left .shop .shop-list li a .hot {
  color: red;
  font-size: 30px;
}

.nav .nav-left .shop .shop-list li a .new {
  color: skyblue;
  font-size: 35px;
}

.nav .nav-right {
  display: flex;
}

.nav .nav-right li:nth-of-type(5) {
  padding: 0;
}

.nav .nav-right li:nth-of-type(5) a {
  padding-left: 10px;
  border-left: 1px solid #c9c9c9;
}

.nav .nav-right li {
  padding: 0px 10px;
}

.nav .nav-right li .line:hover {
  text-decoration: underline;
}

.nav .nav-right li a {
  color: #ff9d00;
  font-size: 14px;
  font-family: Arial,"Lucida Grande","Microsoft Yahei","Hiragino Sans GB","Hiragino Sans GB W3",SimSun,"PingFang SC",STHeiti;
}

.nav .nav-right li .iconfont {
  font-size: 25px;
}

.nav .nav-right li .iconfont:hover {
  color: #fff;
  background-color: #ff9d00;
  border-radius: 50%;
}

/*====头部导航end====*/
