@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

/*====头部导航start====*/
.nav {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  width: 1000px;
  height: 70px;
  line-height: 70px;
}

.nav .nav-left {
  display: flex;
}

.nav .nav-left .logon {
  margin-top: 20px;
  margin-right: 24px;
  width: 136px;
  height: 39px;
  background: url(../images/header-sprites13.png) 0 0;
}

.nav .nav-left > li:nth-of-type(1) {
  padding: 0;
}

.nav .nav-left > li {
  padding: 0px 14px;
}

.nav .nav-left > li:hover {
  color: #ff9d00;
  border-bottom: 2px solid #ff9d00;
}

.nav .nav-left > li:hover > a {
  color: #ff9d00;
}

.nav .nav-left > li > a {
  color: #333;
  font-size: 16px;
  font-family: Arial, "Lucida Grande", "Microsoft Yahei", "Hiragino Sans GB", "Hiragino Sans GB W3", SimSun, "PingFang SC", STHeiti;
}

.nav .nav-left .shop {
  position: relative;
}

.nav .nav-left .shop:hover {
  border-bottom: 0;
  border-top: 2px solid #ff9d00;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
}

.nav .nav-left .shop:hover .shop-list {
  display: block;
}

.nav .nav-left .shop .shop-list {
  position: absolute;
  top: 68px;
  left: 0;
  display: none;
  padding: 0;
  background: #eee;
}

.nav .nav-left .shop .shop-list li {
  padding: 0px 10px 0px;
  width: 124px;
  height: 40px;
  line-height: 40px;
}

.nav .nav-left .shop .shop-list li:hover {
  border-bottom: 0;
  background: #ddd;
}

.nav .nav-left .shop .shop-list li:hover a {
  color: #444;
}

.nav .nav-left .shop .shop-list li a {
  font-size: 14px;
  color: #333;
  font-family: Arial, "Lucida Grande", "Microsoft Yahei", "Hiragino Sans GB", "Hiragino Sans GB W3", SimSun, "PingFang SC", STHeiti;
}

.nav .nav-left .shop .shop-list li a .hot {
  color: red;
  font-size: 30px;
}

.nav .nav-left .shop .shop-list li a .new {
  color: skyblue;
  font-size: 35px;
}

.nav .nav-left .shequ {
  position: relative;
  font-family: Arial, "Lucida Grande", "Microsoft Yahei", "Hiragino Sans GB", "Hiragino Sans GB W3", SimSun, "PingFang SC", STHeiti;
}

.nav .nav-left .shequ:hover {
  border-bottom: 0;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-top: 2px solid #ff9d00;
}

.nav .nav-left .shequ:hover > .shequ-list {
  display: block;
}

.nav .nav-left .shequ > .shequ-list {
  position: absolute;
  top: 68px;
  left: 0;
  display: none;
  width: 300px;
  height: 300px;
  background-color: #eee;
}

.nav .nav-left .shequ > .shequ-list > .list-left {
  float: left;
}

.nav .nav-left .shequ > .shequ-list > .list-left > li {
  margin-left: 15px;
  height: 75px;
}

.nav .nav-left .shequ > .shequ-list > .list-left > li > .hot {
  color: red;
  font-size: 30px;
}

.nav .nav-left .shequ > .shequ-list > .list-left > li > .new {
  color: skyblue;
  font-size: 30px;
}

.nav .nav-left .shequ > .shequ-list > .list-left > li > a {
  font-size: 16px;
  color: #444;
}

.nav .nav-left .shequ > .shequ-list > .list-left > li > a:hover {
  color: #ff9d00;
}

.nav .nav-left .shequ > .shequ-list > .list-right {
  float: right;
  margin-top: 20px;
  margin-right: 50px;
}

.nav .nav-left .shequ > .shequ-list > .list-right > li {
  height: 32px;
  line-height: 32px;
  font-size: 14px;
}

.nav .nav-left .shequ > .shequ-list > .list-right > li > a {
  color: #444;
}

.nav .nav-left .shequ > .shequ-list > .list-right > li:hover a {
  color: #ff9d00;
}

.nav .nav-right {
  display: flex;
}

.nav .nav-right li:nth-of-type(5) {
  padding: 0;
}

.nav .nav-right li:nth-of-type(5) a {
  padding-left: 10px;
  border-left: 1px solid #c9c9c9;
}

.nav .nav-right li {
  padding: 0px 10px;
}

.nav .nav-right li .line:hover {
  text-decoration: underline;
}

.nav .nav-right li a {
  color: #ff9d00;
  font-size: 14px;
  font-family: Arial, "Lucida Grande", "Microsoft Yahei", "Hiragino Sans GB", "Hiragino Sans GB W3", SimSun, "PingFang SC", STHeiti;
}

.nav .nav-right li .iconfont {
  font-size: 25px;
}

.nav .nav-right li .iconfont:hover {
  color: #fff;
  background-color: #ff9d00;
  border-radius: 50%;
}

/*====头部导航end====*/
/*=====轮播图start=====*/
.ppt {
  position: relative;
  width: 100%;
  height: 576px;
  border: 1px solid red;
  /*=====ppt主图部分start====*/
  /*=======ppt主图部分end=====*/
  /*=======ppt侧边缩略图部分start======*/
  /*=======ppt侧边缩略图部分edn=======*/
  /*======ppt中间搜索框部分start=====*/
  /*======ppt中间搜索框部分end=====*/
}

.ppt .ppt-main {
  /*======PPT文字部分end====*/
}

.ppt .ppt-main li:nth-of-type(1) {
  display: block;
}

.ppt .ppt-main li {
  position: relative;
  display: none;
  /*======PPT文字部分start====*/
}

.ppt .ppt-main li .from {
  position: absolute;
  left: 31%;
  bottom: 24px;
  display: inline-block;
  color: #fff;
  font-size: 14px;
  font-family: Arial, "Lucida Grande", "Microsoft Yahei", "Hiragino Sans GB", "Hiragino Sans GB W3", SimSun, "PingFang SC", STHeiti;
}

.ppt .ppt-main li .from > a {
  color: #ff9d00;
}

.ppt .ppt-main li .from > a:hover {
  text-decoration: underline;
}

.ppt .ppt-main li .date {
  position: absolute;
  top: 30px;
  left: 360px;
  color: #fff;
  font-family: Arial, "Lucida Grande", "Microsoft Yahei", "Hiragino Sans GB", "Hiragino Sans GB W3", SimSun, "PingFang SC", STHeiti;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.9);
}

.ppt .ppt-main li .date > p {
  font-size: 24px;
}

.ppt .ppt-main li .date > p > span {
  font-size: 38px;
}

.ppt .ppt-main li .date > h3 {
  font-weight: normal;
  font-size: 26px;
}

.ppt .pptsider-bar {
  position: absolute;
  top: 60px;
  left: 91%;
}

.ppt .pptsider-bar .more {
  margin-top: 15px;
  width: 110px;
  height: 35px;
  background-image: url(../images/index-sprites9.png);
  background-position: -60px -50px !important;
}

.ppt .search-group {
  position: absolute;
  top: 424px;
  left: 31%;
  padding: 15px;
  width: 601px;
  height: 80px;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.6);
}

.ppt .search-group .search-top {
  display: flex;
  margin-bottom: 10px;
}

.ppt .search-group .search-top li {
  margin-right: 30px;
  overflow: hidden;
  float: left;
}

.ppt .search-group .search-top li a {
  position: relative;
  padding-left: 25px;
  color: #fff;
  font-size: 14px;
  font-family: Arial, "Lucida Grande", "Microsoft Yahei", "Hiragino Sans GB", "Hiragino Sans GB W3", SimSun, "PingFang SC", STHeiti;
}

.ppt .search-group .search-top li a i {
  position: absolute;
  top: 0;
  left: 0;
  margin-right: 5px;
  display: inline-block;
  width: 17px;
  height: 17px;
  border-radius: 50%;
  background: red;
  background-image: url(../images/header-sprites13.png);
  background-position: -60px -109px;
}

.ppt .search-group .search {
  display: flex;
  justify-content: space-between;
  width: 604px;
  height: 48px;
}

.ppt .search-group .search input {
  padding: 0px 20px;
  width: 506px;
  height: 48px;
  border-radius: 4px;
  border: 0;
  color: #666;
  font-size: 16px;
  font-family: Arial, "Lucida Grande", "Microsoft Yahei", "Hiragino Sans GB", "Hiragino Sans GB W3", SimSun, "PingFang SC", STHeiti;
}

.ppt .search-group .search .search-button {
  width: 48px;
  height: 48px;
  line-height: 48px;
  border-radius: 5px;
  background-color: #ff9d00;
}

.ppt .search-group .search .search-button:hover {
  background-color: #ff8a00;
}

.ppt .search-group .search .search-button > i {
  margin-top: 12px;
  margin-left: 12px;
  display: inline-block;
  overflow: hidden;
  width: 24px;
  height: 24px;
  background-image: url(../images/header-sprites13.png);
  background-position: 0 -110px;
}

/*=====轮播图end======*/
/*======section开始=======*/
.section {
  margin: 0 auto;
  width: 1000px;
  height: 900px;
  background-color: pink;
}

.section .section-left {
  width: 260px;
  height: 800px;
  background-color: yellow;
}

.section .section-right {
  width: 700px;
  height: 800px;
  background-color: blue;
}

/*======section结束=======*/
