@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

/*====头部导航start====*/
.nav {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  width: 1000px;
  height: 70px;
  line-height: 70px;
}

.nav .nav-left {
  display: flex;
}

.nav .nav-left .logon {
  margin-top: 20px;
  margin-right: 24px;
  width: 136px;
  height: 39px;
  background: url(../images/header-sprites13.png) 0 0;
}

.nav .nav-left > li:nth-of-type(1) {
  padding: 0;
}

.nav .nav-left > li {
  padding: 0px 14px;
}

.nav .nav-left > li:hover {
  color: #ff9d00;
  border-bottom: 2px solid #ff9d00;
}

.nav .nav-left > li:hover > a {
  color: #ff9d00;
}

.nav .nav-left > li > a {
  color: #333;
  font-size: 16px;
  font-family: Arial, "Lucida Grande", "Microsoft Yahei", "Hiragino Sans GB", "Hiragino Sans GB W3", SimSun, "PingFang SC", STHeiti;
}

.nav .nav-left .shop {
  position: relative;
}

.nav .nav-left .shop:hover {
  border-bottom: 0;
  border-top: 2px solid #ff9d00;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
}

.nav .nav-left .shop:hover .shop-list {
  display: block;
}

.nav .nav-left .shop .shop-list {
  position: absolute;
  top: 68px;
  left: 0;
  display: none;
  z-index: 999;
  padding: 0;
  background: #eee;
}

.nav .nav-left .shop .shop-list li {
  padding: 0px 10px 0px;
  width: 124px;
  height: 40px;
  line-height: 40px;
}

.nav .nav-left .shop .shop-list li:hover {
  border-bottom: 0;
  background: #ddd;
}

.nav .nav-left .shop .shop-list li:hover a {
  color: #444;
}

.nav .nav-left .shop .shop-list li a {
  font-size: 14px;
  color: #333;
  font-family: Arial, "Lucida Grande", "Microsoft Yahei", "Hiragino Sans GB", "Hiragino Sans GB W3", SimSun, "PingFang SC", STHeiti;
}

.nav .nav-left .shop .shop-list li a .hot {
  color: red;
  font-size: 30px;
}

.nav .nav-left .shop .shop-list li a .new {
  color: skyblue;
  font-size: 35px;
}

.nav .nav-left .shequ {
  position: relative;
  font-family: Arial, "Lucida Grande", "Microsoft Yahei", "Hiragino Sans GB", "Hiragino Sans GB W3", SimSun, "PingFang SC", STHeiti;
}

.nav .nav-left .shequ:hover {
  border-bottom: 0;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-top: 2px solid #ff9d00;
}

.nav .nav-left .shequ:hover > .shequ-list {
  display: block;
}

.nav .nav-left .shequ > .shequ-list {
  position: absolute;
  top: 68px;
  left: 0;
  display: none;
  z-index: 999;
  width: 300px;
  height: 300px;
  background-color: #eee;
}

.nav .nav-left .shequ > .shequ-list > .list-left {
  float: left;
}

.nav .nav-left .shequ > .shequ-list > .list-left > li {
  margin-left: 15px;
  height: 75px;
}

.nav .nav-left .shequ > .shequ-list > .list-left > li > .hot {
  color: red;
  font-size: 30px;
}

.nav .nav-left .shequ > .shequ-list > .list-left > li > .new {
  color: skyblue;
  font-size: 30px;
}

.nav .nav-left .shequ > .shequ-list > .list-left > li > a {
  font-size: 16px;
  color: #444;
}

.nav .nav-left .shequ > .shequ-list > .list-left > li > a:hover {
  color: #ff9d00;
}

.nav .nav-left .shequ > .shequ-list > .list-right {
  float: right;
  margin-top: 20px;
  margin-right: 50px;
}

.nav .nav-left .shequ > .shequ-list > .list-right > li {
  height: 32px;
  line-height: 32px;
  font-size: 14px;
}

.nav .nav-left .shequ > .shequ-list > .list-right > li > a {
  color: #444;
}

.nav .nav-left .shequ > .shequ-list > .list-right > li:hover a {
  color: #ff9d00;
}

.nav .nav-right {
  display: flex;
}

.nav .nav-right li:nth-of-type(5) {
  padding: 0;
}

.nav .nav-right li:nth-of-type(5) a {
  padding-left: 10px;
  border-left: 1px solid #c9c9c9;
}

.nav .nav-right li {
  padding: 0px 10px;
}

.nav .nav-right li .line:hover {
  text-decoration: underline;
}

.nav .nav-right li a {
  color: #ff9d00;
  font-size: 14px;
  font-family: Arial, "Lucida Grande", "Microsoft Yahei", "Hiragino Sans GB", "Hiragino Sans GB W3", SimSun, "PingFang SC", STHeiti;
}

.nav .nav-right li .iconfont {
  font-size: 25px;
}

.nav .nav-right li .iconfont:hover {
  color: #fff;
  background-color: #ff9d00;
  border-radius: 50%;
}

/*====头部导航end====*/
/*=====轮播图start=====*/
.ppt {
  position: relative;
  z-index: 0;
  width: 100%;
  height: 576px;
  border: 1px solid red;
  /*=====ppt主图部分start====*/
  /*=======ppt主图部分end=====*/
  /*=======ppt侧边缩略图部分start======*/
  /*=======ppt侧边缩略图部分edn=======*/
  /*======ppt中间搜索框部分start=====*/
  /*======ppt中间搜索框部分end=====*/
}

.ppt .ppt-main {
  /*======PPT文字部分end====*/
}

.ppt .ppt-main li:nth-of-type(1) {
  display: block;
}

.ppt .ppt-main li {
  position: relative;
  display: none;
  /*======PPT文字部分start====*/
}

.ppt .ppt-main li .from {
  position: absolute;
  left: 31%;
  bottom: 24px;
  display: inline-block;
  color: #fff;
  font-size: 14px;
  font-family: Arial, "Lucida Grande", "Microsoft Yahei", "Hiragino Sans GB", "Hiragino Sans GB W3", SimSun, "PingFang SC", STHeiti;
}

.ppt .ppt-main li .from > a {
  color: #ff9d00;
}

.ppt .ppt-main li .from > a:hover {
  text-decoration: underline;
}

.ppt .ppt-main li .date {
  position: absolute;
  top: 30px;
  left: 360px;
  color: #fff;
  font-family: Arial, "Lucida Grande", "Microsoft Yahei", "Hiragino Sans GB", "Hiragino Sans GB W3", SimSun, "PingFang SC", STHeiti;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.9);
}

.ppt .ppt-main li .date > p {
  font-size: 24px;
}

.ppt .ppt-main li .date > p > span {
  font-size: 38px;
}

.ppt .ppt-main li .date > h3 {
  font-weight: normal;
  font-size: 26px;
}

.ppt .pptsider-bar {
  position: absolute;
  top: 60px;
  left: 91%;
}

.ppt .pptsider-bar .more {
  margin-top: 15px;
  width: 110px;
  height: 35px;
  background-image: url(../images/index-sprites9.png);
  background-position: -60px -50px !important;
}

.ppt .search-group {
  position: absolute;
  top: 424px;
  left: 31%;
  padding: 15px;
  width: 601px;
  height: 80px;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.6);
}

.ppt .search-group .search-top {
  display: flex;
  margin-bottom: 10px;
}

.ppt .search-group .search-top li {
  margin-right: 30px;
  overflow: hidden;
  float: left;
}

.ppt .search-group .search-top li a {
  position: relative;
  padding-left: 25px;
  color: #fff;
  font-size: 14px;
  font-family: Arial, "Lucida Grande", "Microsoft Yahei", "Hiragino Sans GB", "Hiragino Sans GB W3", SimSun, "PingFang SC", STHeiti;
}

.ppt .search-group .search-top li a i {
  position: absolute;
  top: 0;
  left: 0;
  margin-right: 5px;
  display: inline-block;
  width: 17px;
  height: 17px;
  border-radius: 50%;
  background: red;
  background-image: url(../images/header-sprites13.png);
  background-position: -60px -109px;
}

.ppt .search-group .search {
  display: flex;
  justify-content: space-between;
  width: 604px;
  height: 48px;
}

.ppt .search-group .search input {
  padding: 0px 20px;
  width: 506px;
  height: 48px;
  border-radius: 4px;
  border: 0;
  color: #666;
  font-size: 16px;
  font-family: Arial, "Lucida Grande", "Microsoft Yahei", "Hiragino Sans GB", "Hiragino Sans GB W3", SimSun, "PingFang SC", STHeiti;
}

.ppt .search-group .search .search-button {
  width: 48px;
  height: 48px;
  line-height: 48px;
  border-radius: 5px;
  background-color: #ff9d00;
}

.ppt .search-group .search .search-button:hover {
  background-color: #ff8a00;
}

.ppt .search-group .search .search-button > i {
  margin-top: 12px;
  margin-left: 12px;
  display: inline-block;
  overflow: hidden;
  width: 24px;
  height: 24px;
  background-image: url(../images/header-sprites13.png);
  background-position: 0 -110px;
}

/*=====轮播图end======*/
/*======section开始=======*/
.section {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  width: 1000px;
  height: 1400px;
  background-color: pink;
}

.section .section-left {
  width: 260px;
  height: 800px;
  background-color: yellow;
  /*=====广告位start=====*/
  /*=====广告位end=====*/
}

.section .section-left .section-ad {
  margin-top: 20px;
}

.section .section-left .section-head {
  margin: 25px 0px 15px 0px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 35px;
  line-height: 35px;
  font-size: 0;
}

.section .section-left .section-head > h2 {
  font-size: 18px;
  font-weight: normal;
  font-family: Arial, "Lucida Grande", "Microsoft Yahei", "Hiragino Sans GB", "Hiragino Sans GB W3", SimSun, "PingFang SC", STHeiti;
}

.section .section-left .section-head > h2 > a {
  color: #333;
}

.section .section-left .section-head > span {
  font-family: Arial, "Lucida Grande", "Microsoft Yahei", "Hiragino Sans GB", "Hiragino Sans GB W3", SimSun, "PingFang SC", STHeiti;
  font-size: 12px;
}

.section .section-left .section-head > span > a {
  color: #999;
}

.section .section-left .section-head > span > a:hover {
  text-decoration: underline;
}

.section .section-left .section-ppt {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 240px;
  background: #fff;
}

.section .section-left .section-ppt .small-ppt {
  font-size: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 1300px;
}

.section .section-left .section-ppt .small-ppt > li {
  float: left;
  width: 260px;
  height: 240px;
}

.section .section-left .section-ppt .small-ppt > li > h3 {
  margin-top: 10px;
  height: 26px;
  font-size: 16px;
  font-weight: normal;
  color: #333;
  font-family: Arial, "Lucida Grande", "Microsoft Yahei", "Hiragino Sans GB", "Hiragino Sans GB W3", SimSun, "PingFang SC", STHeiti;
}

.section .section-left .section-ppt .small-ppt > li > p {
  height: 60px;
  line-height: 20px;
  font-size: 14px;
  color: #333;
  font-family: Arial, "Lucida Grande", "Microsoft Yahei", "Hiragino Sans GB", "Hiragino Sans GB W3", SimSun, "PingFang SC", STHeiti;
}

.section .section-left .section-ppt .section-btn {
  position: absolute;
  top: 125px;
  right: 7px;
}

.section .section-left .section-ppt .section-btn li {
  float: left;
  margin-right: 3px;
  width: 15px;
  height: 8px;
  border-radius: 4px;
  background-color: #fff;
}

.section .section-left .section-ppt .section-btn li:hover {
  background-color: #ff9d00;
}

.section .section-left .city .qingdao {
  display: flex;
  justify-content: space-between;
}

.section .section-left .city .qingdao > dl {
  padding-top: 12px;
  width: 130px;
  height: 75px;
}

.section .section-left .city .qingdao > dl > dt a h3 {
  margin-bottom: 15px;
  color: #333;
  font-weight: normal;
  font-size: 22px;
  font-family: Arial, "Lucida Grande", "Microsoft Yahei", "Hiragino Sans GB", "Hiragino Sans GB W3", SimSun, "PingFang SC", STHeiti;
}

.section .section-left .city .qingdao > dl > dt a h3:hover {
  text-decoration: underline;
}

.section .section-left .city .qingdao > dl dd {
  color: #666;
  font-size: 12px;
}

.section .section-left .city .comment {
  margin-top: 10px;
}

.section .section-left .city .comment li {
  overflow: hidden;
  width: 260px;
  height: 28px;
  line-height: 28px;
  font-size: 14px;
  color: #333;
  text-overflow: ellipsis;
  white-space: nowarp;
  font-family: Arial, "Lucida Grande", "Microsoft Yahei", "Hiragino Sans GB", "Hiragino Sans GB W3", SimSun, "PingFang SC", STHeiti;
}

.section .section-left .city .comment li a {
  color: #ff8a00;
}

.section .section-left .city .comment li a:hover {
  text-decoration: underline;
}

.section .section-left .section-head span a {
  color: #ff8a00;
}

.section .section-left .activity {
  overflow: scroll;
  overflow-x: hidden;
  scrollbar-width: 10px;
  scrollbar-3d-light-color: #fff;
  width: 260px;
  height: 390px;
}

.section .section-left .activity img {
  margin-right: 8px;
}

.section .section-left .activity ul li {
  padding: 5px;
  width: 250px;
  height: 40px;
}

.section .section-left .activity ul li > a {
  display: flex;
  font-size: 0;
  line-height: 20px;
}

.section .section-left .activity ul li > a dl dt {
  font-size: 14px;
  color: #ff9d00;
  font-family: Arial, "Lucida Grande", "Microsoft Yahei", "Hiragino Sans GB", "Hiragino Sans GB W3", SimSun, "PingFang SC", STHeiti;
}

.section .section-left .activity ul li > a dl dd {
  font-size: 12px;
  color: #666;
  font-family: Arial, "Lucida Grande", "Microsoft Yahei", "Hiragino Sans GB", "Hiragino Sans GB W3", SimSun, "PingFang SC", STHeiti;
}

.section .section-left .section-head span a {
  color: #666;
}

.section .section-left .join-us ul {
  width: 260px;
  height: 90px;
}

.section .section-left .join-us ul li {
  width: 260px;
  height: 30px;
  line-height: 30px;
}

.section .section-left .join-us ul li:hover a {
  color: #ff9d00;
}

.section .section-left .join-us ul li a {
  display: flex;
  justify-content: space-between;
  color: #666;
}

.section .section-left .join-us ul li a p {
  font-size: 14px;
  font-family: Arial, "Lucida Grande", "Microsoft Yahei", "Hiragino Sans GB", "Hiragino Sans GB W3", SimSun, "PingFang SC", STHeiti;
}

.section .section-left .join-us ul li a p i {
  font-size: 25px;
  color: red;
}

.section .section-left .join-us ul li a span {
  font-size: 12px;
  font-family: Arial, "Lucida Grande", "Microsoft Yahei", "Hiragino Sans GB", "Hiragino Sans GB W3", SimSun, "PingFang SC", STHeiti;
}

.section .section-left .process ul {
  width: 260px;
  height: 180px;
}

.section .section-left .process ul li {
  width: 260px;
  height: 30px;
  line-height: 30px;
  font-size: 12px;
  color: #666;
  font-family: Arial, "Lucida Grande", "Microsoft Yahei", "Hiragino Sans GB", "Hiragino Sans GB W3", SimSun, "PingFang SC", STHeiti;
}

.section .section-left .process ul li a {
  color: #666;
}

.section .section-left .process ul li a:hover {
  text-decoration: underline;
}

.section .section-right {
  width: 700px;
  height: 800px;
  background-color: #ddd;
}

.section .section-right .sidebar-ad {
  margin: 20px 0px;
}

.section .section-right .sidebar-head {
  font-size: 0;
}

.section .section-right .sidebar-head h3 {
  margin-bottom: 12px;
  width: 700px;
  height: 34px;
  font-size: 18px;
  color: #333;
  font-weight: normal;
  font-family: Arial, "Lucida Grande", "Microsoft Yahei", "Hiragino Sans GB", "Hiragino Sans GB W3", SimSun, "PingFang SC", STHeiti;
}

.section .section-right .hot-sale {
  display: flex;
  justify-content: space-between;
  width: 700px;
  height: 217px;
}

.section .section-right .hot-sale li {
  width: 220px;
  height: 217px;
  background-color: pink;
}

.section .section-right .hot-sale li a div {
  position: relative;
}

.section .section-right .hot-sale li a div .qiang {
  z-index: 99;
  position: absolute;
  top: 0;
  right: -4px;
  display: inline-block;
  padding: 0px 10px;
  width: 28px;
  height: 20px;
  line-height: 20px;
  background-color: #ff6155;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  font-family: Arial, "Lucida Grande", "Microsoft Yahei", "Hiragino Sans GB", "Hiragino Sans GB W3", SimSun, "PingFang SC", STHeiti;
}

.section .section-right .hot-sale li a div .qiang::after {
  content: '';
  position: absolute;
  right: 0;
  bottom: -8px;
  border-top: 4px solid #7e1811;
  border-right: 4px solid transparent;
  border-bottom: 4px solid transparent;
  overflow: hidden;
}

.section .section-right .hot-sale li a div:hover .describe p {
  top: -45px;
  color: #ff9d00;
  background-color: #f8f8f8;
  transition: top 0.6s;
}

.section .section-right .hot-sale li a div:hover .price {
  background-color: #f8f8f8;
}

.section .section-right .hot-sale li a div .tu {
  position: relative;
  overflow: hidden;
  width: 220px;
  height: 190px;
}

.section .section-right .hot-sale li a div .tu .price-top {
  position: absolute;
  left: 0;
  bottom: 55px;
  display: flex;
  justify-content: space-between;
  padding: 0px 8px;
  width: 204px;
  height: 35px;
  line-height: 35px;
  background-color: #ff6155;
  font-size: 0;
}

.section .section-right .hot-sale li a div .tu .price-top p {
  color: #fff;
  font-size: 14px;
  font-family: Arial, "Lucida Grande", "Microsoft Yahei", "Hiragino Sans GB", "Hiragino Sans GB W3", SimSun, "PingFang SC", STHeiti;
}

.section .section-right .hot-sale li a div .tu .price-top span {
  color: #fff;
  font-size: 14px;
  font-family: Arial, "Lucida Grande", "Microsoft Yahei", "Hiragino Sans GB", "Hiragino Sans GB W3", SimSun, "PingFang SC", STHeiti;
}

.section .section-right .hot-sale li a div .tu .price-top span strong {
  font-size: 27px;
}

.section .section-right .hot-sale li a div .describe {
  position: relative;
  margin: 5px 0px;
  padding: 5px 10px 0px 10px;
  width: 200px;
  height: 42px;
  color: #000;
  font-size: 14px;
  font-family: Arial, "Lucida Grande", "Microsoft Yahei", "Hiragino Sans GB", "Hiragino Sans GB W3", SimSun, "PingFang SC", STHeiti;
  line-height: 20px;
}

.section .section-right .hot-sale li a div .describe p {
  position: absolute;
  top: -10px;
  left: 0;
  padding: 12px 10px 0px 10px;
  width: 200px;
  height: 85px;
  z-index: 0;
  background-color: #fff;
}

.section .section-right .hot-sale li a div .price {
  height: 26px;
  line-height: 26px;
  background-color: #fff;
}

.section .section-right .hot-sale li a div .price p {
  float: right;
  color: #ff9d00;
  font-size: 14px;
  font-family: Arial, "Lucida Grande", "Microsoft Yahei", "Hiragino Sans GB", "Hiragino Sans GB W3", SimSun, "PingFang SC", STHeiti;
}

.section .section-right .hot-sale li a div .price p strong,
.section .section-right .hot-sale li a div .price p span {
  font-size: 18px;
}

.section .section-right .check-cart {
  margin-bottom: 20px;
  margin-top: 40px;
  padding-bottom: 8px;
  width: 700px;
  height: 35px;
  line-height: 35px;
  background-color: yellow;
  overflow: hidden;
}

.section .section-right .check-cart ul li {
  float: left;
  width: 170px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  font-size: 18px;
  color: #333;
  font-family: Arial, "Lucida Grande", "Microsoft Yahei", "Hiragino Sans GB", "Hiragino Sans GB W3", SimSun, "PingFang SC", STHeiti;
}

.section .section-right .check-cart ul li a {
  color: #333;
}

.section .section-right .check-cart ul li a:hover {
  color: #ff9d00;
}

.section .section-right .check-cart ul li span {
  display: inline-block;
  margin-left: 7px;
  padding: 0px 10px 0px 8px;
  width: 40px;
  height: 20px;
  line-height: 20px;
  font-size: 12px;
  color: #666;
  border: 1px solid #e5e5e5;
}

.section .section-right .check-cart ul li span:hover {
  background-color: #ff9d00;
  color: #fff;
}

.section .section-right .check-cart ul .check-active {
  border-bottom: 3px solid #ff9d00;
}

.section .section-right .check-cart ul .check-active a {
  color: #ff9d00;
}

.section .section-right .check-cart ul .surprise {
  position: relative;
}

.section .section-right .check-cart ul .surprise a {
  margin-left: 60px;
}

.section .section-right .check-cart ul .surprise a img {
  position: absolute;
  top: -15px;
  left: 0;
}

.section .section-right .check-cart ul .last {
  width: 120px;
}

.section .section-right .check-cart .go-index {
  font-size: 12px;
  color: #ff9d00;
  font-family: Arial, "Lucida Grande", "Microsoft Yahei", "Hiragino Sans GB", "Hiragino Sans GB W3", SimSun, "PingFang SC", STHeiti;
}

.section .section-right .check-cart .go-index:hover {
  text-decoration: underline;
}

.section .section-right .check-cart .go-index i {
  display: inline-block;
  margin-top: 12px;
  margin-right: 4px;
  width: 16px;
  height: 16px;
  background-image: url(../images/index-sprites9.png);
  background-position: -100px -30px;
}

.section .section-right .check-cart .write {
  display: inline-block;
  width: 140px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  border-radius: 4px;
  color: #fff;
  font-size: 16px;
  font-family: Arial, "Lucida Grande", "Microsoft Yahei", "Hiragino Sans GB", "Hiragino Sans GB W3", SimSun, "PingFang SC", STHeiti;
  background-color: #ff9d00;
}

.section .section-right .check-cart .write:hover {
  background-color: #ff8a00;
}

.section .section-right .check-cart .write i {
  display: inline-block;
  margin-right: 5px;
  width: 18px;
  height: 17px;
  color: #fff;
  background: url(../images/index-sprites9.png);
}

.section .section-right .check-content {
  padding: 15px 0px;
  width: 700px;
  height: 150px;
}

/*======section结束=======*/
